body{
    font-family: "Microsoft YaHei", 微软雅黑, 宋体, Arial, sans-serif;
}
* {
    margin: 0px;
    padding: 0px;
}
div.container{
    min-width: 1100px;
}
div.section{
    width: 1100px;
    margin: auto;
}
div.container.header{
    height: 70px;
    background-color: #3999fa;
}
div.section.header{
    height: 70px;
    background-color: #3999fa;
}
div.container.banner {
    height: 400px;
    background: url("../images/banner-background.png") repeat-x left;
}
div.section.banner{
    height: 400px;
    position: relative;
}
div.container.process,
div.container.capability,
div.container.quality{
    height: 540px;
}
div.section.process,
div.section.capability,
div.section.quality{
    height: 540px;
}
div.container.case{
    height: 430px;
}
div.container.footer{
    height: 200px;
}
div.section.footer{
    height: 200px;
}
div.container.capability,
div.container.case{
    background-color: #f9f9f9;
}
div.container.footer{
    background-color: #222231;
}
#logo img{
    vertical-align: middle;
}
#logo{
    margin-right: 85px;
}
.header a,nav,#login{
    display: block;
    float: left;
    line-height: 70px;
    vertical-align: middle;
    color: #ffffff;
    text-decoration: none;
}
.header nav li{
    display: block;
    float: left;
}
nav a{
    margin-right: 40px;
    font-size: 16px;
}
div#login{
    float: right;
    margin-top: 19px;
}
#login p{
    font-size: 14px;
    padding: 9px 26px;
    border-radius: 4px;
    line-height: 100%;
    background-color: #2182e9;
}
.banner-text h3{
    font-weight: normal;
    font-size: 20px;
    color: #a7d2ff;
    margin-bottom: 17px;
}
.banner-text h1{
    font-weight: normal;
    font-size: 45px;
    color: #ffffff;
    margin-bottom: 43px;
}
.banner-text p{
    font-size: 24px;
    color: #ffffff;
}
div.banner-text{
    position: absolute;
    top: 21%;
}
div.banner-pop{
    position: absolute;
    right: 0;
    width: 520px;
    height: 400px;
    background: url("../images/banner-pop.png") no-repeat center;
}
.banner-pop-text h3{
    font-size: 20px;
    font-weight: normal;
    color: #333;
    text-align: center;
}
div.banner-pop-contact{
    width: 240px;
    margin: 25px auto auto;
}
.banner-pop-text p{
    font-size: 14px;
    text-align: left;
    color: #666666;
    margin-bottom: 15px;
    line-height: 14px;
    padding-left: 20px;
}

.banner-pop-text a{
    font-size: 14px;
    text-decoration: none;
    color: #666666;
}
div.banner-pop-text{
    margin-top: 27%;
}
div.banner-pop-button{
    width: 120px;
    height: 36px;
    background-color: #ff8244;
    text-align: center;
    border-radius: 3px;
    margin: auto;
}
.banner-pop-button a{
    text-decoration: none;
    color: #ffffff;
    line-height: 36px;
    vertical-align: middle;
}