body{
    font-family: "Microsoft YaHei", 微软雅黑, 宋体, Arial, sans-serif;
}
* {
    margin: 0px;
    padding: 0px;
}
div.container{
    min-width: 1100px;
}
div.section{
    width: 1100px;
    margin: auto;
}
div.container.header{
    height: 70px;
    background-color: #3999fa;
}
div.section.header{
    height: 70px;
    background-color: #3999fa;
}
div.container.banner {
    height: 400px;
    background: url("../images/banner-background.png") repeat-x left;
}
div.section.banner{
    height: 400px;
    position: relative;
}
div.container.process,
div.container.capability,
div.container.quality{
    height: 540px;
}
div.section.process,
div.section.capability,
div.section.quality{
    height: 540px;
}
div.container.case{
    height: 430px;
}
div.container.footer{
    height: 200px;
}

div.section.footer{
    height: 200px;
}
div.container.capability,
div.container.case{
    background-color: #f9f9f9;
}
div.container.footer{
    background-color: #222231;
}
#logo img{
    vertical-align: middle;
}
#logo{
    margin-right: 85px;
}
.header div.section{
    height: 70px;
}
.header a,nav,#login{
    display: block;
    float: left;
    line-height: 70px;
    vertical-align: middle;
    color: #ffffff;
    text-decoration: none;
}
.header nav li{
    display: block;
    float: left;
}
nav a{
    margin-right: 40px;
    font-size: 16px;
}
div#login{
    float: right;
    margin-top: 19px;
}
#login p{
    font-size: 14px;
    padding: 9px 26px;
    border-radius: 4px;
    line-height: 100%;
    background-color: #2182e9;
}
.banner-text h3{
    font-weight: normal;
    font-size: 20px;
    color: #a7d2ff;
    margin-bottom: 17px;
}
.banner-text h1{
    font-weight: normal;
    font-size: 45px;
    color: #ffffff;
    margin-bottom: 43px;
}
.banner-text p{
    font-size: 24px;
    color: #ffffff;
}
div.banner-text{
    position: absolute;
    top: 21%;
}
div.banner-pop{
    position: absolute;
    right: 0;
    width: 520px;
    height: 400px;
    background: url("../images/banner-pop.png") no-repeat center;
}
.banner-pop-text h3{
    font-size: 20px;
    font-weight: normal;
    color: #333;
    text-align: center;
}
div.banner-pop-contact{
    width: 240px;
    margin: 25px auto auto;
}
.banner-pop-text p{
    font-size: 14px;
    text-align: left;
    color: #666666;
    margin-bottom: 15px;
    line-height: 14px;
    padding-left: 20px;
}

.banner-pop-text a{
    font-size: 14px;
    text-decoration: none;
    color: #666666;
}
div.banner-pop-text{
    margin-top: 27%;
}
div.banner-pop-button{
    width: 120px;
    height: 36px;
    background-color: #ff8244;
    text-align: center;
    border-radius: 3px;
    margin: auto;
}
.banner-pop-button a{
    text-decoration: none;
    color: #ffffff;
    line-height: 36px;
    vertical-align: middle;
}
div.section-name{
    color: #666666;
    text-align: center;
    font-size: 30px;
    padding-top: 70px;;
}
div.bar{
    width: 50px;
    height: 3px;
    background-color: #71b6fd;
    margin: 12px auto auto;
}
div.block{
    width: 230px;
}
div.separate{
    width: 60px;
    height: 100px;
}
div.separate,
div.block{
    float: left;
}
ul.case a{
    text-decoration: none;
}
ul.case img {
    width: 100%;
    height: 100%;
}
.process div.block,
.process div.separate{
    margin-top: 80px;
    position: relative;
}
.process div.icon img{
    display: block;
    position: absolute;
    left: 65px;
    z-index: 99;
}

.process div.content{
    width: auto;
    height: 208px;
    border: 1px solid #dddddd;
    position: absolute;
    top: 50px;
}
.content h3{
    font-weight: normal;
    color: #333333;
    font-size: 18px;
    text-align: center;
    line-height: 30px;
}
.process div.content h3{
    margin-top: 70px;
}
.content p{
    color: #999999;
    font-size: 14px;
    line-height: 24px;
}
.process div.content p{
    margin-top: 30px;
    padding-left: 16px;
    padding-right: 16px;
}
.capability div.block,
.capability div.separate{
    margin-top: 70px;
    position: relative;
}
.capability div.icon {
    width: auto;
    height: auto;
}
.capability div.icon img{
    display: block;
    margin: auto;
}
.capability li{
    font-size: 14px;
    color: #666666;
    line-height: 28px;
}

.capability div.content *{
    text-align: left;
    color: #666666;
}
.capability div.content{
    padding-left: 70px;
}
.capability div.content h3{
    margin-top: 13px;
    margin-bottom: 5px;
}
.quality div.icon {
    width: auto;
    height: auto;
}
.quality div.icon img{
    display: block;
    margin: auto;
}
.quality div.block,
.quality div.separate{
    margin-top: 90px;
    position: relative;
}
.quality div.content{
    padding-top: 40px;
}
.quality div.content h3{
    color: #666666;
}
.case.section a{
    display: inline-block;
}
div.case.section{
    height: 430px;
    text-align: justify;
}
.case.section a{
    width: 175px;
    height: 100px;
    margin-top: 90px;
    display: inline-block;

    /* IE fix.*/
    *display: inline;
    zoom: 1
}
div.case.section:after{
    content: "";
    width: 100%;
    display: inline-block;
}
.footer div.block{
    width: 366px;
    height: auto;
    padding-top: 30px;
}

.footer li,
.footer a{
    list-style: none;
    color: #6b6d76;
    font-size: 14px;
    line-height: 26px;
    text-decoration: none;
}
.footer h3{
    color: #ffffff;
    font-size: 16px;
    line-height: 26px;
    text-decoration: none;
}
.footer div.content h3,
.footer div.content li{
    display: inline-block;
    clear: both;
    float: left;
}
.footer div.content {
    margin: auto;
    height: 140px;
}
.copyright{
    color: #333333;
}
